version: '3.8'
services:
  # 1. PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: ecommerce_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: ecommerce_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  # 2. Redis Cache
  redis:
    image: redis:alpine
    container_name: ecommerce_redis
    ports:
      - "6379:6379"

volumes:
  pgdata: